* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  width: 1200px;
  height: 750px;
  background: green;
  margin: 100px auto;
  border: red 5px solid;
display: flex;
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap;*/
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
align-items: center;
}

.box {
  width: 160px;
height: 160px;
  border: yellow 3px solid;
  background: blue;
  color: white;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .box2 {
    order: 10;
    align-self: flex-end;
}
.box4 {
    order: -150;
    align-self: flex-start;
} */