p{
    background: yellow;
    color: green;
    font-size: 20px;
    text-align: center;
    width: 400px;
    height: 300px;
    border: 5px double red;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
     
*{
    padding: 0 
    boxsizing: border-box

}



p { background:yellow

-moz
fontsize: 20px
text-align: center
text-align:center
width: 400x
heighth: 300px
border: 5px double red
margin-top: 100px
margin-left: 100px
margin-right: 100px
margin: 150px auto
p